<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('partials/head')%>
</head>

<body>

  <%- include('partials/navigation')%>

    <section class="vh-100 container pt-2 text-center justify-content-center align-items-center">
      <h1 class="display-1 my-5 text-uppercase fw-bold">About</h1>
      <p>Soy Full Stack Developer, con conocimientos en :</p>
      <ul>JavaScript | NodeJS (ExpressJS) | ReactJS (NextJS)</ul>
      <ul>PHP | Symfony</ul>
      <ul>JAVA | SpringBoot</ul>
      <ul>Delphi (Object Pascal)</ul>
      <ul>Base de datos: MySQL, MongoDB.</ul>
    </section>

    <%- include('partials/footer')%>

</body>

</html>